@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&family=Roboto+Mono:wght@100;300;600;700&display=swap");

@tailwind base;
@tailwind components;

@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  transition: transform 0.5s ease-in-out;
}

.waving {
  animation: waveAnimation 0.5s infinite;
}
